{% extends 'listing/layout.html' %}

{% block content %}
<h1> {{band.name | upper }}</h1>
<!-- TODO : liste des groupes -->
<ul>
    <li> Genre: {{band.genre}} </li>
    <li> Année de formation: {{band.year_formed}} </li>
    <h4>Biographie</h4>
    <p> {{band.biography}} </p>
    <h4>Les articles associés</h4>
    <ul>
        {% for listing in band.listing_set.all %}
        <li> {{listing.title}} </li>
        {% endfor %}
    </ul>

</ul>
<nav>
    <a href="{% url 'bands' %}">Retour</a>
    <a href="{% url 'band_update' band.id %}">Modifier</a>
    <a href="{% url 'band_delete' band.id %}">Supprimer</a>
</nav>
{% endblock %}